---
layout: fullscreen
title: Countdown
permalink: /countdown/
---
<!-- Begin Clock -->
<h1 style="text-align:center">Session Countdown</h1>
<h1 style="text-align:center" id="devfest-countdown"></h1>
<!-- End Clock -->
<script>
function countdown( elementName, duration )
{
    var element, minutes, msLeft, endTime, text;

    function updateTimer()
    {
        msLeft = endTime - (new Date().getTime());
        if ( msLeft < 1000 ) {
            element.innerHTML = "Time is Over!";
        } else {
            minutes = Math.round(msLeft / (1000 * 60));
            text = minutes + " minutes";
            if (element.innerHTML != text) {
                element.innerHTML = text;
            }
            setTimeout( updateTimer, 10000 );
        }
    }

    element = document.getElementById( elementName );
    endTime = new Date().getTime() + duration;
    updateTimer();
}


(function() {
  var curDateTime = new Date();
  var curTime = curDateTime.getTime();
  // go 15 minutes ahead of time
  var compTime = curTime + 15*60*1000;
  var slotTime;
  var endTime;
{% for day in site.data.schedule %}
  {% for timeslot in day.timeslots %}
  slotTime = Date.parse("{{ day.date }} {{timeslot.startTime}}");
  endTime = Date.parse("{{ day.date }} {{timeslot.endTime}}");
  if (slotTime < compTime && endTime >= curTime) {
  	countdown("devfest-countdown", endTime - curTime);
  }
  {% endfor %}
{% endfor %}
})();
</script>
