---
layout: default
title: Coming next
permalink: /next/
---

<script>
(function() {
  var curDateTime = new Date();
  var curTime = curDateTime.getTime();
  var allSlots = {};
  var minTime = 0;
  var slotTime;
{% for day in site.data.schedule %}
  {% for timeslot in day.timeslots %}
  slotTime = Date.parse("{{ day.date }} {{timeslot.startTime}}");
  if (slotTime > curTime) {
  	if (minTime > 0 && minTime < slotTime) {
  		minTime = slotTime;
  	}
  }
  allSlots[slotTime] = [
    {% for id in timeslot.sessionIds %}"{{id}}",{% endfor %}
    ];
  {% endfor %}
{% endfor %}
  // take the events for the slot with the minimum time
  if (minTime > 0) {
  	var i;
  	for (i=0; i<allSlots[minTime].length; i++) {
      	document.getElementById("sessionDetail-" + allSlots[minTime][i]).style.display = "block";
  	}
  }
})();
</script>