---
layout: fullscreen
title: Coming next
permalink: /next/
---
<!-- Begin Sessions -->
<div style="margin:30px;">
  <h2>Coming Next @<span id='time'></span></h2>
	{% for session in site.data.sessions %}
		<div id="sessionDetail-{{ session.id }}" tabindex="-1" aria-labelledby="sessionDetailLabel-{{ session.id }}" style="display:none; padding:20px; margin-bottom:30px; background-color:#ffffff;">
			<h4 class="room"></h4>
			<h4>{{ session.title }}</h4>
			<p class="theme-description">{{ session.description }}</p>
			<hr>
			<div class="person-details">
				{% for speaker in site.data.speakers %}
					{% for session_speaker in session.speakers %}
						{% if session_speaker == speaker.id %}
						<div class="row">
							<div class="col-md-2 col-sm-2">
								<div class="flow-img img-circle person-img" style="background-image: url({{ site.baseurl | append: site.thumbnailsFolder | append: speaker.thumbnailUrl }})"></div>
							</div>
							<div class="col-md-10 col-sm-10 details">
								<p class="name">{{ speaker.name }} {{ speaker.surname }}
									<span class="position">{{ speaker.title }}, {{ speaker.company }}</span>
								</p>
								<p class="about">{{ speaker.bio }}</p>
							</div>
						</div>
						{% endif %}
					{% endfor %}
				{% endfor %}
			</div>
			<br>
			<br>
		</div>
    {% endfor %}
</div>
<!-- End Sessions -->
<script>
(function() {
  var curDateTime = new Date();
  var curTime = curDateTime.getTime();
  var allSlots = {};
  var minTime = 0;
  var slotTime;
{% for day in site.data.schedule %}
  {% for timeslot in day.timeslots %}
  slotTime = Date.parse("{{ day.date }} {{timeslot.startTime}}");
  if (slotTime > curTime) {
  	if (minTime == 0 || minTime > slotTime) {
  		minTime = slotTime;
  	}
  }
  allSlots[slotTime] = {
    startTime: "{{timeslot.startTime}}",
    sessions: [ {% for id in timeslot.sessionIds %}"{{id}}",{% endfor %} ]
  };
  {% endfor %}
{% endfor %}
  // take the events for the slot with the minimum time
  if (minTime > 0) {
  	var i;
        var room;
        var htmlId;
        if (allSlots[minTime].sessions.length == 1) {
          room = [ "Hall" ];
        }
        else {
          room = ["EI9", "EI10"];
        }
        jQuery('#time').html(allSlots[minTime].startTime;
  	for (i=0; i<allSlots[minTime].sessions.length; i++) {
          htmlId = "#sessionDetail-" + allSlots[minTime].sessions[i];
          roomText = room[i];
          jQuery(htmlId + " .room").html(roomText);
          jQuery(htmlId).show();
  	}
  }
  // make all img square formatted
  jQuery(".img-circle").height(jQuery(".img-cirle").width());
})();
</script>
