---
layout: default
title: Schedule
permalink: /schedule/
---

{% include header.html %}

{% include schedule.html %}

<section id="schedule2" class="schedule" style="text-align: left;">
  <div class="content-wrapper">
    <div class="schedule-table col-lg-8 col-md-10 col-md-offset-1">
      <h4 class="schedule-table-heading">17 November: <span>TensorFlow Workshop
        @
          <a href="/location/#raumd">Raum D / quartier21</a>
      </span></h4>
      <h6>
      Join our workshop on <a href='https://www.tensorflow.org/' target='_blank'>TensorFlow</a>!
      We use an online course which you can continue afterwards at your own pace.
      </h6>
    </div>
  </div>
</section>
