---
layout: default
title: Schedule
permalink: /schedule/
---

{% include header.html %}

{% include schedule.html %}

<section id="schedule2" class="schedule" style="text-align: left;">
  <div class="content-wrapper">
    <div class="schedule-table col-lg-8 col-md-10 col-md-offset-1">
      <h4 class="schedule-table-heading">25 November: <span>Actions on Google Workshop led by WTM Vienna
        @
          <a href="/location/#stockwerk">Stockwerk Coworking Space</a>
      </span></h4>
      <p>
      Part of this year's DevFest, WTMVIE is organizing the next meetup as a workshop on the 25th November. 
      We start at 10am at Stockwerk and see how long we can last ;)
      There is no pre-knowledge needed, everyone is welcome and can do how much they want (with or without coding).
      We will get to know what all the fuss is about regarding Google Assistant, Google Home and how easy it is to create your own "assistant action"/chatbot.
      </p>
      <h5>Overview:</h5>
      <ul style="list-style: disc; padding: inherit;">
        <li>it is for free but please register <a href="https://devfest-vienna-2018.eventbrite.com/">devfest-vienna-2018.eventbrite.com/</a></li>
        <li>25 November (all day)</li>
        <li><a href="/location/#stockwerk">Stockwerk</a></li>
        <li>no pre-knowledge needed</li>
        <li>no coding skills necessary</li>
      </ul>
    </div>
  </div>
</section>
