---
layout: default
title: Draft Schedule
permalink: /schedule/
---

{% include header.html %}

{% include schedule.html %}

<section id="schedule2" class="schedule" style="text-align: left;">
  <div class="content-wrapper">
    <div class="schedule-table col-lg-8 col-md-10 col-md-offset-1">
      <h4 class="schedule-table-heading">17 November: <span>Workshop
        @
          <a href="/location/#raumd">Raum D / quartier21</a>
      </span></h4>
      <p>
      More details coming soon
      </p>
    </div>
  </div>
</section>
