<!-- Begin CfP Modal -->
<style type="text/css">
  .cfp-hidden { display:none; }
  .cfp-gray { font-color:gray; }
  label {min-width: 200px;}
</style>
<script>
  function cfpCheckEmail() {
    // get current email value
    var email = $('#cfp-email').val();
    // check if email exists
    $.get('https://cfp-manager.appspot.com/email/' + encodeURIComponent(email)
      ).fail(function() {
        // disable all 'choose old' functionality
        $('#cfp-bio-group').removeClass('cfp-gray');
        $('#cfp-old-group').addClass('cfp-hidden');
        $('#cfp-old').prop('checked', false);
        $('#cfp-bio').prop('disabled', false);
      }
      ).done(function() {
        // enable 'choose old' functionality
        $('#cfp-bio-group').addClass('cfp-gray');
        $('#cfp-old-group').removeClass('cfp-hidden');
        $('#cfp-old').prop('checked', true);
        $('#cfp-bio').prop('disabled', true);
      });
  }
  function cfpCheckOld() {
    // get current value of 'old'
    var old = $('#cfp-old').prop('checked');
    $('#cfp-bio').prop('disabled', old);
    if (old) {
      $('#cfp-bio-group').addClass('cfp-gray');
    }
    else {
      $('#cfp-bio-group').removeClass('cfp-gray');
    }
  }
  function cfpSubmit() {
    // perform the submit
    var target="https://cfp-manager.appspot.com/proposal/devfest-2016";
    var $ = jQuery;
    $.post(target, $('#cfp-form').serialize()
      ).done(function() {
            // show success message
            $('#cfp-modal').hide();
            $('#cfp-success').show();
      }
      ).fail(function() {
            $('#cfp-modal').hide();
            $('#cfp-failure').show();
      });
  }
  jQuery(function() {
    var $ = jQuery;
    // enable handling of 'old' for bio
    $('#cfp-old').change(cfpCheckOld);
    // enable handling of email check
    $('#cfp-email').change(cfpCheckEmail);
  });
</script>
<div class="modal fade in" id="cfp-success" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="close">
          <svg class="icon icon-cross" viewBox="0 0 32 32">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprites/sprites.svg#icon-cross"></use>
          </svg>
          <div class="close-mask" data-dismiss="modal"></div>
        </div>
        <h4>Wow! Thank you very much!</h4>
        <p>
          Thank for your talk proposal!
        </p>
        <p>
          We will look into your talk proposal and review it carefully.
          It's awesome that you want to be part of DevFest Vienna 2016!
        </p>
      </div>
    </div>
  </div>
</div>
<div class="modal fade in" id="cfp-failure" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="close">
          <svg class="icon icon-cross" viewBox="0 0 32 32">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprites/sprites.svg#icon-cross"></use>
          </svg>
          <div class="close-mask" data-dismiss="modal"></div>
        </div>
        <h4>Ouch. This is embarrassing</p>
        <p>
          Something went wrong, we have no idea how this could have happened.
        </p>
        <p>
          As we want you to be part of DevFest Vienna 2016, may we kindly ask you to drop us an email?
          We will look into the issue and will take your email as the talk proposal.
        </p>
        <p>
          We are very sorry for this inconvenience!
        </p>
      </div>
    </div>
  </div>
</div>
<div class="modal fade in" id="cfp-modal" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="close">
          <svg class="icon icon-cross" viewBox="0 0 32 32">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprites/sprites.svg#icon-cross"></use>
          </svg>
          <div class="close-mask" data-dismiss="modal"></div>
        </div>
        <h4>Submit Talk Proposal</h4>
        <p>
        This is so cool, thanks a lot!!!
        </p>
        <p>
        We only have a handful of questions for you. Anything else we will ask once your talk has been selected.
        </p>
        <form onsubmit="cfpSubmit(); return false;" id="cfp-form">
          <input type="hidden" name="json-reply" value="1">
          <fieldset class="form-group">
            <label for="cfp-name">Your First Name</label>
            <input type="text" required="required" id="cfp-name" name="name">
          </fieldset>
          <fieldset class="form-group">
            <label for="cfp-surname">Your Surname</label>
            <input type="text" required="required" id="cfp-surname" name="surname">
          </fieldset>
          <fieldset class="form-group">
            <label for="cfp-email">Your Email</label>
            <input type="text" required="required" id="cfp-email" name="email">
          </fieldset>
          <fieldset class="form-group">
            <label for="cfp-title">Title of the talk</label>
            <input type="text" required="required" id="cfp-title" name="title">
          </fieldset>
          <fieldset class="form-group">
            <label for="cfp-duration">Duration</label>
            <select required="required" id="cfp-duration" name="duration">
              <option value=''>--- please select ---</option>
              <option value='20'>20 Minutes</option>
              <option value='45'>45 Minutes</option>
            </select>
          </fieldset>
          <fieldset class="form-group">
            <label for="cfp-abstract">Short abstract</label>
            <textarea id="cfp-abstract" name="abstract"></textarea>
          </fieldset>
          <fieldset id='cfp-old-group' class="form-group hidden">
            <label for="cfp-use-old">Take bio from last proposal</label>
            <input type="checkbox" id="cfp-use-old" name="use-old">
          </fieldset>
          <fieldset id='cfp-bio-group' class="form-group">
            <label for="cfp-bio">Short biography</label>
            <textarea id="cfp-bio" name="bio"></textarea>
          </fieldset>
          <fieldset class="form-group">
            <label for="cfp-comment">Any other comment?</label>
            <textarea id="cfp-comment" name="comment"></textarea>
          </fieldset>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- End Speakers Modals -->