<!-- Code of Conduct Section -->
<section id="code">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
<h3>Conduct Policy</h3>
<p>
DevFest Vienna is dedicated to being open to everyone and making the conference a safe place for all. We do not discriminate based on ethnic background, religion, gender, sexuality, body shape, or disability. We do not tolerate harassment based on discrimination.</p>
<p>
See our
<a href="/cod">conduct policy</a>
for more details.
</p>
<p>
Please report any violation of the conduct policy to a member of the Organizer team (recognizable through a red highlighted badge).
</p>
        </div>
    </div>
</section>
<!-- End of Code of Conduct Section -->
