<!-- Begin Direction Details-->
<section id="direction-details">
    <div class="content-wrapper">
        <section class="image-section" style="background-image: url('{{ site.baseurl }}/img/vienna-night.jpg');">
            <h3>Get around Vienna</h3>
        </section>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-left same-height-wrapper">
                <div class="col-md-4 col-xs-12 same-height animated hiding" data-animation="fadeInDown" data-delay="0">
                    <div class="card">
                        <h4>From the Airport</h4>
                        <p>Airport is right at the city border. It is easily reachable by car, public transport or taxi. More information is available at <a href="http://www.viennaairport.com/en/passengers/arrival__parking/city_airport_train_cat">airport transportation website</a>.</p>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 same-height animated hiding" data-animation="fadeInDown" data-delay="500">
                    <div class="card">
                        <h4>Public Transit</h4>
                        <p>The city of Vienna has one of the most attractive and reliable public transportation. You can use their  <a href="http://www.wienerlinien.at/eportal2/"> website</a>.to find the shortest combination from one point to another.</p>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 same-height animated hiding" data-animation="fadeInDown" data-delay="1000">
                    <div class="card">
                        <h4>Hotels</h4>
                        <p>Vienna has lots of great hotels and hostels and can be found <a href="http://goo.gl/GeG23h"> here</a>.</p>
                    </div>
                </div>
                <!--div class="col-md-12 col-xs-12 animated hiding" data-animation="fadeInDown" data-delay="0">
                    <div class="card questions">
                        <h4>Questions?</h4>
                        <div class="col-md-4 col-xs-12">
                            <h5>General</h5>
                            <ul>
                                <li><a href="#" target="_blank">InterContinental</a>
                                </li>
                                <li><a href="#" target="_blank">The Hotel Rex</a>
                                </li>
                                <li><a href="#" target="_blank">Westin Market Street</a>
                                </li>
                                <li><a href="#" target="_blank">Hotel Adagio</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <h5>Registration</h5>
                            <ul>
                                <li><a href="#" target="_blank">InterContinental</a>
                                </li>
                                <li><a href="#" target="_blank">The Hotel Rex</a>
                                </li>
                                <li><a href="#" target="_blank">Westin Market Street</a>
                                </li>
                                <li><a href="#" target="_blank">Hotel Adagio</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <h5>Attendance Details</h5>
                            <ul>
                                <li><a href="#" target="_blank">InterContinental</a>
                                </li>
                                <li><a href="#" target="_blank">The Hotel Rex</a>
                                </li>
                                <li><a href="#" target="_blank">Westin Market Street</a>
                                </li>
                                <li><a href="#" target="_blank">Hotel Adagio</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div-->
            </div>
        </div>

        <div class="row">
        </div>
    </div>
</section>
<!-- End Direction Details -->