<!-- Begin Top Section -->
<section id="top-section-hero" class="top-section-hero image-section" style="background-image: url('{{ site.baseurl }}/img/home.jpg');">

    {% include navigation.html %}

    <div class="jumbotron">
        <div class="animated hiding" data-animation="fadeInDown" data-delay="500">
            <h1>DevFest Vienna 201<span id="typeout-text"></span></h1>
            <p>25 - 26 November 2017</p>
            <p>TU Wien &amp; Stockwerk Coworking</p>
            <p><br/></p>

<!--
            <p><a href="/call" role="button" style="width:360px;" class="btn btn-lg btn-primary waves-effect waves-button waves-light waves-float"> Call for Proposals is Open! </a></p>
-->
            <p><a href="https://devfest-vienna-2017.eventbrite.com/" target="_blank" role="button" style="width:360px;" class="btn btn-lg btn-primary waves-effect waves-button waves-light waves-float"> Register </a></p>
            <div class="devfest-countdown" style="width:460px; margin:0 auto;"></div>
<!--
            <p><a href="https://devfest-vienna-2017.eventbrite.com" role="button" style="width:360px;" class="btn btn-lg btn-primary waves-effect waves-button waves-light waves-float"> Register for free! </a></p>
-->

<!--
            <a href='https://play.google.com/store/apps/details?id=at.devfest.app&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img style="width:220px;" alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/></a>
            <div style="font-style:italic;font-size:12px;color:grey">Google Play and the Google Play logo<br>are trademarks of Google Inc.</div>
-->
{% comment %}
<!-- comment -->
            <p><br/><br/></p>
            <div class="sponsors" style="color:#000; text-shadow: none; width:50%; padding-top:20px; padding-bottom: 20px; margin: 0 auto; background-color:#fff;">
              <p>DevFest Vienna 2017 is powered by</p>
              <ul class="list-inline platinum" style="margin-bottom:10px;">
                <li>
                    <a href="https://developers.google.com/" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/logo-google.png" alt="Google Developers">
                    </a>
                </li>
                <li style="width:20%; min-width:180px; max-width:200px;">
                    <a href="http://jobsbei.willhaben.at/" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/logo-willhaben.png" alt="willhaben.at">
                    </a>
                </li>
              </ul>
              <p><a href="#sponsors">All our 2017 sponsors</a></p>
            </div>
<!-- endcomment -->
{% endcomment %}
        </div>
    </div>
    <a href="#about" class="explore">
    	<div class="arrow bounce"></div>
    </a>
</section>
<!-- End Top Section -->
