<!-- Begin Top Section -->
<section id="top-section-hero" style="background-image: url('{{ site.baseurl }}/img/collage.jpg');">

    {% include navigation.html %}

    <div class="jumbotron">
        <div class="animated hiding" data-animation="fadeInDown" data-delay="500">
            <h1><span class="contrast">DevFest Vienna <span id="typeout-text"></span></span></h1>
            <p><span class="contrast">{{site.eventDate}}</span></p>
            <p><span class="contrast">TU Wien</span></p>
            <p><br/></p>
            <p><br/></p>
            <p><span class="contrast"><b>Registration opens September 2014</b></span></p>
        </div>
    </div>
    <a href="#about" class="explore">
        <svg class="icon icon-arrow-down" viewBox="0 0 32 32">
            <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-arrow-down"></use>
        </svg>
    </a>
</section>
<!-- End Top Section -->
