<!-- Begin Top Section -->
<section id="top-section-hero" class="top-section-hero image-section" style="background-image: url('{{ site.baseurl }}/img/collage.jpg');">

    {% include navigation.html %}

    <div class="jumbotron">
        <div class="animated hiding" data-animation="fadeInDown" data-delay="500">
            <h1><span class="contrast">DevFest Vienna <span id="typeout-text"></span></span></h1>
            <p><span class="contrast">21 November 2015 - Conference</span></p>
            <p><span class="contrast">22 November 2015 - Hackathon</span></p>
            <p><br/></p>
            <!-- <p><a href="/call" role="button" style="width:360px;" class="btn btn-lg btn-primary waves-effect waves-button waves-light waves-float"> Call for Session Proposals is Open! </a></p> -->
<!--
            <div class="devfest-countdown" style="width:460px; margin:0 auto;"></div>
            <p><a href="https://devfestvienna2014.eventbrite.com" role="button" style="width:360px;" class="btn btn-lg btn-primary waves-effect waves-button waves-light waves-float"> Register now - it's free! </a></p>
-->
        </div>
    </div>
    <a href="#about" class="explore">
    	<div class="arrow bounce"></div>
    </a>
</section>
<!-- End Top Section -->
