<!-- Begin TU-Wien Details-->
<section id="tu-wien" class="location-details location-tuwien">
    <div class="content-wrapper">
        <section class="image-section standard-height" style="background-image: url('{{ site.baseurl }}/img/tu-wien-map.jpg');">
            <h3 class="location-title" data-animation="fadeInDown" data-delay="0">Day 1: TU Wien: 18 October, 9:00 - 18:00</h3>
        </section>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-left same-height-wrapper" data-animation="fadeInDown" data-delay="500">
                <h4>Gu&szlig;hausstra&szlig;e 27-29, 1040 Vienna</h4>
                <p>The first day takes place at the University of Technology of Vienna (TU Wien), lecture rooms EI-9 and EI-10 together with the corridor in front.</p>
            </div>
        </div>
    </div>
</section>
<!-- End TU-Wien Details -->
