<!-- Begin Raum-D Details-->
<section id="raum-d" class="location-details">
    <div class="content-wrapper">
        <section class="image-section standard-height" style="background-image: url('{{ site.baseurl }}/img/raum-d-map.jpg');">
            <h3 class="location-title" data-animation="fadeInDown" data-delay="0">Day 2: Raum D / quartier 21: 19 October, 10:00 - 19:00</h3>
        
            <div class="row location-details-more" >
                <div class="col-lg-10 col-lg-offset-1 text-left same-height-wrapper" data-animation="fadeInDown" data-delay="500">
                    <h4>QDK / Electric Avenue, MQ</h4>
                    <h4>Museumsplatz 1, 1070 Vienna</h4>
                    <p>The second day takes place in Raum D / quartier 21.</p>
                </div>
            </div>
        </section>
    </div>
</section>
<!-- End Raum-D Details -->
