<header id="top-header" class="top-header">
    <svg class="menu-trigger icon icon-menu visible-xs" id="menu-trigger" viewBox="0 0 32 32" data-effect="st-effect">
        <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-menu"></use>
    </svg>
    <a href="{{ site.baseurl }}/" id="logo-header" class="logo-header">
      <div class="logo logo-light"></div>
    </a>
    <nav class="st-menu st-effect" id="menu">
        <div class="logo-navbar logo-dark visible-xs"></div>
        <ul>
            <li><a {% if page.permalink == '/' %} class="current" {% endif %} href="{{ site.baseurl }}/">Home</a>
            </li>
            <!-- <li><a {% if page.permalink == '/schedule/' %} class="current" {% endif %} href="{{ site.baseurl }}/schedule/">Schedule</a>
            </li> -->
            <li><a {% if page.permalink == '/call/' %} class="current" {% endif %} href="{{ site.baseurl }}/call/">Call</a>
            </li>
            <!-- <li><a {% if page.permalink == '/speakers/' %} class="current" {% endif %}{% if page.permalink == '/' %} href="{{ site.baseurl }}/#top-speakers" {% else %} href="{{ site.baseurl }}/speakers" {% endif %}>Speakers</a>
            </li> -->
            <li><a {% if page.permalink == '/recordings/' %} class="current" {% endif %} href="{{ site.baseurl }}/recordings/">Recordings</a>
            <li><a {% if page.permalink == '/openhack/' %} class="current" {% endif %} href="{{ site.baseurl }}/openhack/">OpenHack</a>
            <!--  <li><a {% if page.permalink == '/location/' %} class="current" {% endif %} href="{{ site.baseurl }}/location/">Location</a>
            </li> -->
        </ul>
        <ul id="bottom-navlinks" class="bottom-navlinks visible-xs">
          <li>
            <!-- <a href="https://devfestvienna2014.eventbrite.com/" target="_blank"> Register </a> -->
          </li>
        </ul>
        <!-- <a href="https://devfestvienna2014.eventbrite.com/" target="_blank" class="right-nav-button btn btn-primary waves-effect waves-button waves-light waves-float pull-right hidden-xs hidden-sm"> Register </a> -->
    </nav>
</header>
