<header id="top-header" class="top-header">
    <svg class="menu-trigger icon icon-menu visible-xs" id="menu-trigger" viewBox="0 0 32 32" data-effect="st-effect">
        <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-menu"></use>
    </svg>
    <a href="{{ site.baseurl }}/" id="logo-header" class="logo-header">
      <div class="logo logo-light"></div>
    </a>
    <nav class="st-menu st-effect" id="menu">
        <div class="logo-navbar logo-dark visible-xs"></div>
        <ul>
            <li><a {% if page.permalink == '/' %} class="current" {% endif %} href="{{ site.baseurl }}/">Home</a>
            </li>
            </li>
            <!-- <li><a href="#">Schedule</a>
            </li> -->
            <li><a {% if page.permalink == '/speakers/' %} class="current" href="{{ site.baseurl }}/sessions/" {% else %} href="{{ site.baseurl }}#top-speakers" {% endif %} ">Sessions</a>
            </li>
            </li>
            <!-- <li><a href="#">Hackathon</a>
            </li> -->
            <li><a {% if page.permalink == '/location/' %} class="current" {% endif %} href="{{ site.baseurl }}/location/">Location</a>
            </li>
        </ul>
    </nav>
</header>
