<!-- Begin OpenHack Section -->
<section id="openhack" class="openhack">
	<div class="content-wrapper">
		<div class="col-lg-10 col-lg-offset-1">
			<h3>OpenHack Results</h3>
			<article class="row">
			<div>We had many interesting projects being worked on during our OpenHack. Thanks to all participants!</div>
			<div class="post col-md-6 col-sm-6 text-left animated hiding" data-animation="fadeInDown" data-delay="500">
				<h6>Experiments with hybrid mobile apps</h6>
				<p class="post-body">Mihai Ghete worked on a rudimentary hybrid / cross-platform mobile app that can display and rotate a Leaflet.js-based online map based on the orientation sensor.<br/><br/>
				<b>Technologies used:</b><br/>
				<ul>
				<li>Apache Cordova</li>
				<li>Crosswalk</li>
				<li>Leaflet.js</li>
				<li>HTML/JS/CSS</li>
				</ul>
			</div>
			<div class="post col-md-6 col-sm-6 text-left animated hiding" data-animation="fadeInDown" data-delay="500">
				<h6><a href="http://www.christophpacher.com/blog/diploma-project-masskerade/">MassKerade</a></h6>
				<p class="post-body">Christoph Pacher worked on MassKerade, an installation that transforms the media facade of a building near by a nodal point of a city into an interactive medium. It offers passers-by a change of perspective, the possibility to perceive themselves as an atom, as a small part of a bigger entity. In contrast to atoms, people in Mass|kerade however have the choice to stand out from the masses.<br/><br/>
				<b>Technologies used:</b><br/>
				<ul>
				<li>Kinect V1/V2</li>
				<li>C++11</li>
				<li>Cinder</li>
				<li>OpenCV</li>
				</ul>
			</div>
			<div class="post col-md-6 col-sm-6 text-left animated hiding" data-animation="fadeInDown" data-delay="500">
				<h6>Mega metrics</h6>
				<p class="post-body"><a href='mailto:frantisek.kocun@gmail.com'>Frantisek Kocun</a> worked on I extendiong a project which used for metrics analytics of the server in his job. This included converting some backend logic from Python to Scala, Websockets-based communication, and JavaScript front-end development.<br/><br/>
				<b>Technologies used:</b><br/>
				<ul>
				<li>Python</li>
				<li>Scala</li>
				<li>Spray</li>
				<li>Websockets</li>
				<li>JavaScript</li>
				</ul>
			</div>
			<div class="post col-md-6 col-sm-6 text-left animated hiding" data-animation="fadeInDown" data-delay="500">
				<h6><a href='https://github.com/flowlo/musicube'>Musicube</a></h6>
				<p class="post-body"><a href='https://github.com/zikolach' taget='_blank'>Nikolay Kushin</a>,
				<a href='https://github.com/becuz' target='_blank'>Alberto Pierini</a> and
				<a href='https://github.com/flowlo' target='_blank'>Lorenz Leutgeb</a>
				worked on Muiscube, a small cube to control a music stream, by altering the genre dependent on the face on top.<br/>
				Data is transferred via bluetooth and picked up by node-webkit.
				<br/><br/>
				<b>Technologies used:</b><br/>
				<ul>
				<li>Arduino (accelerometer, Bluetooth module)</li>
				<li>node.js</li>
				<li>node-webkit</li>
				<li>HTML5</li>
				<li>Lame</li>
				</ul>
			</div>
			<div class="post col-md-6 col-sm-6 text-left animated hiding" data-animation="fadeInDown" data-delay="500">
				<h6><a href='https://registry.hub.docker.com/u/flowlo/zinc/'>zinc</a></h6>
				<p class="post-body">In addition,
				<a href='https://github.com/flowlo' target='_blank'>Lorenz Leutgeb</a>
				worked on zinc, a Docker container bundling the stable release of Google Chrome and latest release of ChromeDriver. Running on top of Xvfb, accessible via x11vnc, and screen recordings being dumped. Ideal for browser testing.<br/>
				Data is transferred via bluetooth and picked up by node-webkit.
				<br/><br/>
				<b>Technologies used:</b><br/>
				<ul>
				<li>Docker</li>
				<li>Google Chrome</li>
				<li>ChromeDriver</li>
				<li>Xvfb (X Window System)</li>
				<li>x11vnc (CNV)</li>
				<li>avconv (WebM)</li>
				</ul>
			</div>
			<div class="post col-md-6 col-sm-6 text-left animated hiding" data-animation="fadeInDown" data-delay="500">
				<h6>Playing around with BOINC and HAMLIB</h6>
				<p class="post-body"><a href='https://plus.google.com/+GregorBeyerle' target='_blank'>Gregor Beyerle</a> and Marcel Cimander
				were trying to build their own BOINC project (a simple distributed application) and did some debugging on components of the HAMLIB (api to control amateur radio hardware). In the end they had a running BOINC server with simple hardly configured components (scheduler, feeder, validator, transitioner, deleter) to which an arbitrary number of clients could connect.
				<br/><br/>
				<b>Technologies used:</b><br/>
				<ul>
				<li><em>Libraries / Frameworks</em></li>
				<li>BOINC</li>
				<li>HAMLIB</li>
				<li><em>Languages</em></li>
				<li>C/C++</li>
				<li>PHP</li>
				<li>BASH (a bit of bash scripting just for the heck of it)</li>
				<li><em>Additional Software</em></li>
				<li>Apache Web Server</li>
				<li>modules (cgi, fcgi, php)</li>
				</ul>
			</div>
			<div class="post col-md-6 col-sm-6 text-left animated hiding" data-animation="fadeInDown" data-delay="500">
				<h6><a href='http://logtank.com' target='_blank'>logTank</a></h6>
				<p class="post-body"><a href='http://at.linkedin.com/pub/sigita-gr%C4%ABnfelde/3b/a1b/319/de' target='_blank'>Sigita Grinfelde</a> and
				<a href='http://peter.grman.at' target='_blank'>Peter Grman</a>
				were working on logTank, their upcoming centralised log aggregation and analysis tool.
				logTank will allow its users to collect, store and analyse data of their websites, applications, servers, ....
				This way logTank customers will always know, for instance, what are the users of their own application searching for, viewing, analyse what problems or errors their application holds and similar.
				<br/>
				During the OpenHack they got the core of logTank running and made some example d3.js charts to show what kind of analysis would be possible with logTank.
				Examples were - how many 404, 304 and 200 codes are sent from or website, what languages are mainly used for tweets of 4 tags, which logTank was following during the time of the OpenHack, etc.
				<br/><br/>
				<b>Technologies used:</b><br/>
				<ul>
				<li>Fluentd</li>
				<li>CouchDB</li>
				<li>JavaScript</li>
				<li>D3.js</li>
				</ul>
			</div>
			<div class="post col-md-6 col-sm-6 text-left animated hiding" data-animation="fadeInDown" data-delay="500">
				<h6><a href='http://projectdanube.org/' target='_blank'>Project Danube</a></h6>
				<p class="post-body">Markus Sabadello
				was refining and working on a FreedomBox prototype (based on Cubieboard open source hardware) and refining it.
				Project Danube has for several years contributed to efforts for a more free, decentralized, and private Internet. This includes work on the "Federated Social Web", as well as the "FreedomBox".
				At the end Markus demoed the FreedomBox prototype and its capabilities				
				<br/><br/>
				<b>Technologies used:</b><br/>
				<ul>
				<li>PageKite</li>
				<li>ownCloud</li>
				<li>Privoxy</li>
				<li>Debian</li>
				<li>MailPile</li>
				<li><em> ... and many more, open source &amp; free software components for online freedom</li>
				</ul>
			</div>
			</article>
		</div>
	</div>
</section>
<!-- End Latest News Section -->
