<!-- Venue Section -->
<section class="photos" id="photos">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>Photos</h3>
            <div class="row venue-row">
                <div class="col-md-8 col-sm-8 photo-col">
                    <div class="photo-elem-wrapper">
                        <div class="venue-elem photo-big-elem venue-img animated hiding" data-animation="fadeIn" 
                            data-delay="0" style="background-image: url({{ site.baseurl }}/img/gallery/gallery_05.jpg); width:100%;">
                            <div class="more-photos">
                                    <span class="bordered">
                                        <a href="https://photos.app.goo.gl/dUVAFTRbFGvLeR4j2" target="_blank" class="bottom-section-link waves-effect waves-button waves-light">See more photos</a>
                                    </span>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 venue-col venue-small-col">
                    <!-- <div class="venue-elem-wrapper col-md-12 col-sm-12 col-xs-6">
                        <div class="venue-elem photo-small-elem venue-text animated hiding" data-animation="fadeIn" data-delay="0">
                            <h5>TU Wien PHOTOS</h5>
                            <p>25 November 2018</p>
                            <p>Two large session rooms
                               and an entertainment lounge</p>
                            <p>Gu&szlig;hausstra&szlig;e 27-29, 1040 Wien</p>
                        </div>
                    </div> -->
                    <div class="photo-elem-wrapper col-md-12 col-sm-12 col-xs-6">
                        <div class="venue-elem photo-small-elem venue-img animated hiding" data-animation="fadeIn" data-delay="0" 
                        style="background-image: url({{ site.baseurl }}/img/gallery/gallery_02.jpg)">
                            <div class="more-photos">
                                <span class="bordered">
                                    <a href="https://photos.app.goo.gl/dUVAFTRbFGvLeR4j2" target="_blank" class="bottom-section-link waves-effect waves-button waves-light">See more photos</a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="photo-elem-wrapper col-md-12 col-sm-12 col-xs-6">
                            <div class="venue-elem photo-small-elem venue-img animated hiding" data-animation="fadeIn" data-delay="150" 
                            style="background-image: url({{ site.baseurl }}/img/gallery/gallery_04.jpg)">
                            <div class="more-photos">
                                    <span class="bordered">
                                        <a href="https://photos.app.goo.gl/dUVAFTRbFGvLeR4j2" target="_blank" class="bottom-section-link waves-effect waves-button waves-light">See more photos</a>
                                    </span>
                                </div>
                            </div>
                    </div>
                    <!-- <div class="venue-elem-wrapper col-md-12 col-sm-12 col-xs-6">
                        <div class="venue-elem venue-small-elem venue-text animated hiding" data-animation="fadeIn" data-delay="0">
                            <h5>Stockwerk Coworking Space</h5>
                            <p>26 November 2017</p>
                            <p><em>Actions on Google</em> workshop</p>
                            <p>Pater-Schwartz-Gasse 11A, 1150 Wien</p>
                            <p><a class="open-photos" href="https://plus.google.com/events/gallery/cc6tosp4ohkp6qj9pg5jb4g6o3k?sort=1" target="_blank" rel="noopener noreferrer">
                                <span>Click here to view more photos</span>
                            </a></p>
                        </div>
                    </div> -->
                    
                </div>
            </div>
            <div class="clearfix"></div> 
            <span class="bordered">
			     <a href="https://photos.app.goo.gl/dUVAFTRbFGvLeR4j2" target="_blank" class="bottom-section-link waves-effect waves-button waves-light">See more photos</a>
            </span>
        </div>
    </div>
</section>
<!-- End Venue Section -->
