<!-- Begin Sponsors Section -->
<section id="sponsors" class="sponsors">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h4>Sponsors</h4>
            <h5>Platinum</h5>
            <ul class="list-inline platinum">
                <li>
                    <a href="https://developers.google.com/" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/logo-google.png" alt="Google Devlopers">
                    </a>
                </li>
                <li>
                    <a href="http://jobsbei.willhaben.at/" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/logo-willhaben.png" alt="willhaben.at">
                    </a>
                </li>
            </ul>
<!--
            <h5>Gold</h5>
            <ul class="list-inline gold">
                <li>
                    <a href="http://jobsbei.willhaben.at/" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/logo-willhaben.png" alt="willhaben.at">
                    </a>
                </li>
            </ul>
            <ul class="list-inline gold">
                <li>
                    <a href="https://www.erstegroup.com/" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/logo-erstegroup.svg" alt="Erste Group">
                    </a>
                </li>
            </ul>
            <ul class="list-inline gold">
                <li>
                    <a href="http://www.pavelka-denk.at/" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/logo-pavelka-denk.svg" alt="Pavelka-Denk Personalberatung">
                    </a>
                </li>
            </ul>
-->
            <h5>Silver</h5>
            <ul class="list-inline silver">
                <li>
                    <a href="https://cic-austria.eu-gb.mybluemix.net/">
                        <img src="{{ site.baseurl }}/img/sponsors/logo-ibm-cic.jpg" alt="IBM Client Innovation Center">
                    </a>
                </li>
            </ul>
<!--
            <h5>Bronze</h5>
            <ul class="list-inline bronze">
                <li>
                    <a href="https://www.easyname.at/de/domain/registrieren" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/logo-easyname.png" alt="easyname">
                    </a>
                </li>
                <li>
                    <a href="https://emakinacee.recruiterbox.com/" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/logo-emakina.png" alt="Emakina">
                    </a>
                </li>
            </ul>
-->
            <a href="{{ site.baseurl | append: site.c4sponsorsUrl }}" class="btn btn-primary waves-effect waves-button waves-light waves-float">Become a Sponsor for 2017!</a>
        </div>
    </div>
</section>
<!-- End Sponsors Section -->
