<!-- Begin Sponsors Section -->
<section id="sponsors" class="sponsors">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h4>Our Sponsors</h4>
            <h5>Platinum</h5>
            <ul class="list-inline platinum">
                <li>
                    <a href="https://jobsbei.willhaben.at/" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/logo-willhaben.png" alt="willhaben.at">
                    </a>
                </li>
            </ul>
            <h5>Gold</h5>
            <ul class="list-inline gold">
                <li>
                    <a href="https://www.whizus.com/" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/logo-whizus.png" alt="WhizUs">
                    </a>
                </li>
                <li style="width:230px;">
                    <a href="https://www.karriere.at/" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/logo-karriere.svg" alt="karriere.at">
                    </a>
                </li>
            </ul>
            <a href="{{ site.baseurl | append: site.c4sponsorsUrl }}" class="btn btn-primary waves-effect waves-button waves-light waves-float">Support DevFest Vienna!</a>
        </div>
    </div>
</section>
<!-- End Sponsors Section -->
