<!-- Begin Sponsors Section -->
<section id="sponsors" class="sponsors">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
			     <a href="{{ site.baseurl | append: site.c4sponsorsUrl }}" class="btn btn-primary waves-effect waves-button waves-light waves-float">Become a Sponsor for 2015!</a>
            <h5>Platinum</h5>
            <ul class="list-inline">
                <li>
                    <a href="https://developers.google.com/" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/logo-google.png" alt="Google Developers">
                    </a>
                </li>
                <li>
                    <a href="https://software.intel.com/android" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/logo-intel.png" alt="Intel">
                    </a>
                </li>
            </ul>
            <h5>Silver</h5>
            <ul class="list-inline">
                <li>
                    <a href="http://www.willhaben.at/" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/logo-willhaben.png" alt="willhaben.at">
                    </a>
                </li>
            </ul>
            <h5>Media Partners</h5>
            <ul class="list-inline">
                <li>
                    <a href="http://www.oreilly.de/" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/logo-oreilly.png"svg alt="O'Reilly">
                    </a>
                </li>
                <li>
                    <a href="http://www.manning.com/" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/logo-manning.png" alt="Manning Publishing">
                    </a>
                </li>
            </ul>
			     <a href="{{ site.baseurl | append: site.c4sponsorsUrl }}" class="btn btn-primary waves-effect waves-button waves-light waves-float">Become a Sponsor for 2015!</a>
        </div>
    </div>
</section>
<!-- End Sponsors Section -->
