<!-- Begin Statistic Section -->
<section id="statistic" class="parallax" style="background-image: url({{ site.baseurl }}/img/statistic.jpg);">
	<div class="overlay"></div>
	<div class="content-wrapper">
		<div class="col-lg-10 col-lg-offset-1">
			<div class="col-md-3 col-sm-3 col-xs-6">
				<div class="counter animated hiding" data-animation="fadeInDown" data-delay="0">
					<div class="stat"><span class="timer" data-from="0" data-to="200">200</span>+</div>
					<div class="stat-info">attendees</div>
					<hr>
					<p class="small">from everywhere</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6">
				<div class="counter animated hiding" data-animation="fadeInDown" data-delay="500">
					<div class="stat"><span class="timer" data-from="0" data-to="16">16</span>+
					</div>
					<div class="stat-info">hours</div>
					<hr>
					<p class="small">around social, cloud, web &amp; mobile technology</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6">
				<div class="counter animated hiding" data-animation="fadeInDown" data-delay="1000">
					<div class="stat"><span class="timer" data-from="0" data-to="15">15</span>+</div>
					<div class="stat-info">speakers</div>
					<hr>
					<p class="small">from Austria and beyond</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6">
				<div class="counter animated hiding" data-animation="fadeInDown" data-delay="1500">
					<div class="stat"><span class="timer" data-from="0" data-to="2">2</span>
					</div>
					<div class="stat-info">parallel tracks</div>
					<hr>
					<p class="small">plus entertainment lounge</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Statistic Section -->