<!-- Begin Team List-->
<section class="team" id="team">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>About us</h3>
            <p class="text-left animated hiding" data-animation="fadeInUp" data-delay="0">{{ site.aboutUs }}</p>
        </div>
        <div class="col-lg-10 col-lg-offset-1 row-centered effect-wrapper appear-animation-trigger text-left">
            {% for speaker in site.data.team %}
                <div class="effect-wrapper appear-animation col-md-4 col-sm-6 col-xs-12">
                    <div class="lily-effect ribbon-activator">
                        <div class="lily-head" data-toggle="modal" data-target="#speakerDetail-{{ speaker.id }}">
                            <figure class="waves-effect waves-block waves-light" style="background-image: url({{ site.baseurl | append: site.thumbnailsFolder | append: speaker.thumbnailUrl }})">
                                <div class="overlay solid-overlay"></div>
                                {% if speaker.ribbon != null %}
                                <ul class="ribbon-wrapper">
                                    {% for ribbon in speaker.ribbon %}
                                    <li class="{{ ribbon["abbr"] | downcase }}">
                                        <p class="ribbon abbr">{{ ribbon["abbr"] }}</p>
                                        <p class="ribbon full-title"><a href="{{ ribbon["url"] }}" target="_blank">{{ ribbon["title"] }}</a></p>
                                    </li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                                <figcaption>
                                    <h2 class="name">{{ speaker.name }} <span>{{ speaker.surname }}</span></h2>
                                    <p class="position">{{ speaker.company }}</p>
                                </figcaption>
                            </figure>
                        </div>
                        <a href="#" class="slider-next-item hidden">Next</a>
                    </div>
                </div>
            {% endfor %}
            <div class="clearfix"></div>
        </div>
    </div>
</section>
<!-- End Team List -->
