<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/Blog">

{% include head.html %}

<body>
    <div id="st-container" class="st-container">
        <div class="st-pusher">
            <div class="st-content">

                {% include header.html %} 

                {% include post.html isStaticPost=page.isStaticPost %} 

                {% include footer.html %}

            </div>
        </div>
    </div>

    {% include analytics.html %}

    <script src="{{ "/js/jquery-2.1.1.min.js" | prepend: site.baseurl }}"></script>

    <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/jquery.appear.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/waves.min.js" | prepend: site.baseurl }}"></script>
    <script>
        $(document).ready(function () {
            var bodyColor = $('body').css('color');
            if (bodyColor != 'rgb(51, 51, 51)') {
                $("head").prepend('<link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}">');
            }
        });
    </script>
    <script src="{{ "/js/scripts.min.js" | prepend: site.baseurl }}"></script>
</body>

</html>
